html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}



#header {
    text-align: center;

}
#body {
  

}

a {
    color:aquamarine;

}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
    
    
}
h2 {
    color: white;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    
  
p {
    color: white;
    
}