html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}



#header {
    text-align: center;

}
#body {
  

}

a {
    color:aquamarine;

}

h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
    
    
}
h2 {
    color: white;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}
    
h3 {
        color: white;
        font-weight: 300;
        font-size: 42px;
        text-align: center;

}
p {
    color: grey;
    font-size: 21px;
    text-align: center;
    
}

div.video{
    display: flex;
    justify-content: right;


}
<div class="video" style="
    display: flex;
    justify-content: center;
">
         <video width="250px" height="auto" controls="" autoplay="">
            <source src="c://github/repos/excursion/resources/excursion.mp4" type="video/mp4">
        </video>
    </div>